<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-button (click)="startScan()">
          <ion-icon name="bluetooth-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="stopScan()">
          <ion-icon name="stop-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>


      <ion-title>Bluetooth BLE</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list [ngStyle]="{'background': device.rssi > -85 ? 'red' : device.rssi < -85 ? 'green' : 'yellow' }"  *ngFor="let device of kontaktDevices">

    <ion-item (click)="viewItem(device)"> {{device.name}} </ion-item>

  </ion-list>

</ion-content>
