
<ion-content [fullscreen]="true">
  <ion-header>

    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-button (click)="startScan()">
          <ion-icon name="bluetooth-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="stopScan()">
          <ion-icon color="danger" name="bluetooth-outline" ></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>

      <ion-title>Bluetooth BLE</ion-title>
    </ion-toolbar>


  </ion-header>


</ion-content>
